@{
    ViewData["Title"] = "Home";
}


<!--Our Services-->
<div class="container">
    <div class="row-services">
        <h2>Our Services</h2>
        <p class="text">Laudantium ullam consequatur repellat debitis maxime.</p>
        <div class="col-lg-4 d-flex align-items-center">
            <i class="fas fa-rocket"></i>
            <h3>Web Design</h3>
            <p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
            <button class="btn">Learn More</button>
        </div>
        <div class="col-lg-4 d-flex align-items-center">
            <i class="fas fa-rocket"></i>
            <h3>WORDPRESS DEVELOPMENT</h3>
            <p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
            <button class="btn">Learn More</button>
        </div>
        <div class="col-lg-4 d-flex align-items-center">
            <i class="fas fa-rocket"></i>
            <h3>AWESOME SERVICE TITLE</h3>
            <p>Sed tempus feugiat adipiscing nisl cursus aliquam dolore.</p>
            <button class="btn">Learn More</button>
        </div>
    </div>
</div>
<!--End Our Services-->
<!--Recent Posts-->
<div class="container">
    <div class="row-recent">
        <h2>Recent Posts</h2>
        <p class="text-recent">Laudantium ullam consequatur repellat debitis maxime.</p>
        <div class="col-lg-4 my-3">
            <img src="">
            <h4>YELP IS AWFUL FOR EVERYONE INVOLVED</h4>
            <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
            <button class="btn">Learn More</button>
        </div>
        <div class="col-lg-4 my-3">
            <img src="">
            <h4>2 BEST SITES TO BUILD YOUR OWN WEBSITE</h4>
            <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
            <button class="btn">Learn More</button>
        </div>
        <div class="col-lg-4 my-3">
            <img src="">
            <h4>2 BEST SITES TO BUILD YOUR OWN WEBSITE</h4>
            <p>Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</p>
            <button class="btn">Learn More</button>
        </div>
    </div>
</div>
<!--End Recent Posts-->
<!--Contact Us-->
<div class="container">
    <div class="row-contact">
        <h2>CONTACT US</h2>
        <p class="text-contact">Laudantium ullam consequatur repellat debitis maxime.</p>
        <form action="action_page.php">
            <div class="container">
                <label for="name"><b>Name</b></label>
                <input type="text" placeholder="Name" id="name" required>

                <label for="email"><b>Email</b></label>
                <input type="email" placeholder="Email" id="email" required>

                <label for="message"><b>Message</b></label>
                <input type="text" placeholder="Message" id="message" required>
            </div>
        </form>
        <button class="btn">Submit</button>
    </div>
</div>
<!--End Contact Us-->
